@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", serif;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: 0 auto;
}

.filenotfound{
  min-height: 400px;
  display: grid;
  place-content: center;
  text-align: center;
  gap: 6px;
}
.filenotfound h2{
  margin: 0;
  font-size: 40px;
}
.filenotfound p{
  margin: 0;
  font-size: 26px;
}
.filenotfound a{
  display: flex;
  align-items: center;
  gap:6px;
  margin-top: 6px;
}
.filenotfound a:hover{
  text-decoration: underline;
}
.filenotfound a img{
  width: 16px;
}

.fadein{
  animation: fadeIn 3s;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media (max-width:991px){
  .app{
    width: 100%;
    padding: 0;
  }
}